<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- TODO: Import Vue.js core library -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="nav-bar"></div>
    <h1>Relecloud Galaxy Tours</h1>

    <!-- TODO: Add information display -->
    <div id="app">
        <h2>{{ productName }}</h2>
        <div>{{ productDescription }}</div>
        <hr />

        <div v-for="(productClass, indexKey) in productClasses" :key="indexKey" class="row">
            <div class="column">
                {{ productClass.name }}
            </div>
            <div class="column">
                $ {{ productClass.price.toLocaleString('en-US') }}
            </div>
            <button v-if="productClass.earlyBird" class="button">Book early bird!</button>
            <button v-else class="button">Book now!</button>

            <div v-show="productClass.seatsAvailable < 10">Almost sold out!</div>
        </div>

        <img :src="productImage" :alt="productImageDescription" :style="productImageStyle" />

        <hr />

        <div v-show="new Date().getMonth() > 3">It is the first quarter = {{new Date().getMonth() > 3 }}</div>

        <div v-if="new Date().getMonth() < 3">It is the first quarter</div>
        <div v-else-if="new Date().getMonth() < 6">It is the second quarter</div>
        <div v-else-if="new Date().getMonth() < 9">It is the third quarter</div>
        <div v-else>It is the fourth quarter</div>

        <hr />

        <div id="listaItens">
            <ol>
                <li v-for="(eachItem, indexKey) in itemsList" :key="indexKey">{{ eachItem }}</li>
            </ol>
        </div>

        <hr />

        <span>Binding to textboxes</span>
        <input type="text" v-model="name" />
        <button class="button">{{name}}</button>

        <span>Binding to checkbox</span>
        <input type="checkbox" v-model="active" />Is active
        <input type="checkbox" v-model="benefitsSelected" true-value="yes" false-value="no" />Benefits selectd: {{benefitsSelected}}

    </div>

    <!-- TODO: Import Vue app -->
    <script src="./index.js"></script>

</body>

</html>