<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- TODO: Import Vue.js core library -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="nav-bar"></div>
    <h1>Relecloud Galaxy Tours</h1>

    <!-- TODO: Add information display -->
    <div id="app">
        <h2>{{ productName }}</h2>
        <div>{{ productDescription }}</div>
        <hr />

        <div v-for="(productClass, indexKey) in productClasses" :key="indexKey" class="row">
            <div class="column">
                {{ productClass.name }}
            </div>
            <div class="column">
                $ {{ productClass.price.toLocaleString('en-US') }}
            </div>
        </div>
        <img :src="productImage" :alt="productImageDescription" :style="productImageStyle" />
        <hr />
        <div id="listaItens">
            <ol>
                <li v-for="(eachItem, indexKey) in itemsList" :key="indexKey">{{ eachItem }}</li>
            </ol>
        </div>
    </div>

    <!-- TODO: Import Vue app -->
    <script src="./index.js"></script>

</body>

</html>